

.login { 
	position: absolute;
	right: 10px;
    bottom: 464px;
	margin: -150px 0 0 -150px;
	background-color: #313064;
    color: white;
	height:43px;
	
	
}

.login h3 { 
	background-color: #313064; 
	color: white; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center; 
	font-family: "Century Gothic",Verdana,sans-serif;
	font-size: 12px;
    font-weight: bold;
	
}

