<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='about_me.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      .new_close{
        position:absolute;
        top: 50px;
        right:320px;
      }
    </style>

</head>
<body>

  <div class="translated">
    <div id="google_translate_element"></div></div>
      <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement(
                  {pageLanguage: 'en'},
                  'google_translate_element'
              );
          }
      </script>
      <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="new_close">
  <i style="font-size:24px" class="fa" onclick="javascript:window.close()">&#xf00d;</i>
</div>
  
  <div class="main_div"><br>
    
  <section class="introduction">
        
        <div class="starcontainer">
          <h2>About Me</h2>
      
        <br><br>
          <hr class="star"></hr>
        </div>
          <p>I am a Data Analyst with about 1.4 years of experience but have an overall experience of 3 years in the IT industry . Throughtout my career I have supported multiple clients from various locations, predominantly from AUS. Have experience in supporting domains like Retail (E-Commerce), Automotive, Banking, Healthcare and Energy / Utilities sector. </p>
      
          <p>I initially started my career as an IT Recruiter but down the line I got interested into analytics. It took me a while to realize no matter what profession we work into, we do analysis of some kind. Take an example of how a recruiter works. We simply do not engage in making random calls but understand what the requirements are, the skillsets, get better understanding of the domain and the market as a whole. Where in analytics we speak about "Story Telling", in recruiment it's quite similar where we breakdown the information and present it as required to both clients and candidates.</p>
      </section>
      
      <section class="location">
          <h1>Where I’m From</h1>
          <p>I come from a city called Mangalore, a coastal city in Karnataka. Most of my life's spent in Mangalore itself.</p>
          <p>3 years back I moved to Bangalore due to my profession.</p>
      </section>
      
      <section class="questions">
          <h1>More About Me</h1>
            <h2>What is important to you?</h2>
             <p>Staying relevant in the industry is very much important. Maybe a couple of years ago I wouldn't have known the importance of it. But just like how tools and products get old and obsolete, employees also end up being the same unless we learn and upskill ourselves. My aim is to learn skills and tools as much as possible and implement the same. </p>
            <h2>What are your favorite hobbies?</h2>
             <p>During my school and college days, I used to play Table Tennis and I have also represented my college at Unibersity level once. It was and is still my favourite sport.</p>
             <p>I do love editing videos. Although I am not a professional editor, I started editing small clips, sometimes related to work, college fests etc. When I get chance to travel with friends I make sure I edit a video.</p>
             <p>But my ongoing hobby is collecting currency notes of the world. Back in 2006, I came across couple of old currency notes that someone had given to my Mom. I got fascinated with it amd gradually I started collecting myself from my freinds, by going to exhibitions etc. Today I have currency notes belonging to approximately 146 countries that include both Paper notes and Polymer notes. It's been more that 15 years and both my interest in this hobby and my collection are gradually increasing.</p>
            <h2>What music have you been listening to lately?</h2>
             <p>It might be strange but I listen to any songs as long as it sounds good. So I listen to songs composed in different languages, instrumentals etc. My all time favourite music band is Linkin Park. I basically grew up listening to these songs. But these days I also prefer listening to RAP music of artists Eminem, NF and Juice Wrld especially.</p>
      </section>
      
</div>

</body>
</html>