<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet"  href="{{ url_for('static', filename='contact_form2.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .fa{
        position:absolute;
        top: 30px;
        left:350px;
      }
      h3{
        text-align: center;
      }
    </style>
</head>
<body>


  <div class="translated">
    <div id="google_translate_element"></div></div>
      <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement(
                  {pageLanguage: 'en'},
                  'google_translate_element'
              );
          }
      </script>
      <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    
    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Contact Me</h3>
         
          <fieldset>
            <i style="font-size:24px" class="fa" onclick="javascript:window.close()">&#xf00d;</i>
          </fieldset>
          <fieldset>
            <input name="four" placeholder="Your first name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input name="five" placeholder="Your last name" type="text" tabindex="2" required autofocus>
          </fieldset>
          <fieldset>
            <input name="six" placeholder="Your Email Address" type="email" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input name="seven" placeholder="Your Phone Number" type="tel" tabindex="4" required>
          </fieldset>
          <fieldset>
            <input name="eight" placeholder="Your Linkedin starts with http://" type="url" tabindex="5" required>
          </fieldset>
          <fieldset>
            <textarea name="nine" placeholder="Type your Message Here...." tabindex="6" required></textarea>
          </fieldset>
          <fieldset>
            <input type="submit" value="SUBMIT">
          </fieldset>
        
        </form>
       
        
      </div>
      
      
    
</body>
</html>
